<h1>Editing beverage</h1>

<% form_for(@beverage) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @beverage %> |
<%= link_to 'Back', beverages_path %>