<h1>Editing fashion</h1>

<% form_for(@fashion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @fashion %> |
<%= link_to 'Back', fashions_path %>