<h1>Listing endorsements</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Type</th>
    <th>Catagory</th>
    <th>Brand</th>
    <th>Expire</th>
    <th>Role</th>
  </tr>

<% @endorsements.each do |endorsement| %>
  <tr>
    <td>
      <%=h endorsement.player.firstname %> <%=h endorsement.player.lastname %>
    </td>
    <td><%=h endorsement.endorsement_type %></td>
    <td><%=h endorsement.endorseable_type %></td>
    <td><%=h endorsement.endorseable.name %></td>
    <td><%=h endorsement.cancellation_year %></td>
    <td><%=h endorsement.name %></td>
    <td><%= link_to 'Show', endorsement %></td>
    <td><%= link_to 'Edit', edit_endorsement_path(endorsement) %></td>
    <td><%= link_to 'Destroy', endorsement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<!-- instead of "new_endorsement_path"...write it out -->
<%= link_to 'New', new_endorsement_path %><br />
<br />
<!--
< x% x= link_to 'New beverage endorsement', :controller => "endorsements",
                                        :action => "new",
                                        :product => "Beverage"  x % x ><br />
< link_to 'New fashion endorsement', :controller => "endorsements",
                                        :action => "new",
                                        :product => "Fashion" ><br />
< link_to 'New snack endorsement', :controller => "endorsements",
                                        :action => "new",
                                        :product => "Snack" ><br />
-->
